{% extends 'tasks/base.html' %}

{% block content %}

    <main class="conatinet py-5">
        <section class="card card-body">
            <h1 class="display-1 text-center">Gestor Tareas</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis vitae necessitatibus ad nam cupiditate tempore sit ab voluptates quis, excepturi sint nemo saepe soluta minus placeat modi cumque quos totam.</p>
            <div class="text-center">
                <a class="btn btn-secondary" href="/login">
                    Log In
                </a>
                <a class="btn btn-dark" href="/signup">
                    Sign Up
                </a>
            </div>
        </section>
    </main>
{% endblock %}